@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}
/* Navbar Start */
.nav-link {
    letter-spacing: 0.2em;
    display: inline-block;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover::after {
    width: 100%; 
    left: 0; 
}
/* Navbar End */

/* Main Section Start */
.section-padding{
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
}

.w-100 {
    height: 100vh;
    object-fit: cover;
}
/* Main Section End */

/* About Section Start */
#about{
    margin-top: 48px;
}

.accordion {
    margin-top: 8px;
}
/* About Section End */

/* Curriculum Section Start */

/* Curriculum Section End */

/* Media Queries Responsive */
@media only screen and (width <= 767px){
    /* Main Section Start */
    .carousel-item{
        height: 100vh;
        min-height: 300px;
    }

    .carousel-caption {
        bottom: 125px;
        margin-bottom: 150px;
    }

    .carousel-caption h5{
        font-size: 45px;
    }

    .carousel-caption h5,
    .carousel-caption p{
        text-align: start;
    }
    /* Main Section End */


    /* About Section Start */
    .about-text p{
        font-size: 12px;
    }
    /* About Section End */
}
